{
  "extends": [
    "@roots/sage/stylelint-config",
    "@roots/bud-sass/stylelint-config",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "selector-class-pattern": null,
    "number-max-precision": null,
    "no-descending-specificity": null,
    "scss/at-extend-no-missing-placeholder": null
  }
}
