.c-page-header {
  position: relative;
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;
  color: $brown;

  @include media-breakpoint-up(md) {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  &__background {
    @include cover();

    z-index: -1;
    background-color: $orange;

    &::before {
      @include cover();

      content: "";
      background-color: rgba($black, 0.25);
    }

    &.has-no-image {
      &::before {
        display: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 0;
  }
}
