.bg-green {
  background-color: $green;
}

.bg-light-green {
  background-color: rgba($green, 0.2);
}

.bg-lila {
  background-color: $lila;
}

.bg-light-lila {
  background-color: rgba($lila, 0.2);
}
