.bg-green {
  background-color: $green;
}

.bg-light-green {
  background-color: rgba($green, 0.15);
}

.bg-gold {
  background-color: $gold;
}

.bg-light-gold {
  background-color: rgba($gold, 0.15);
}
