@use "sass:math";

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    content: "";
    width: 1px;
    height: 0;
    margin-left: -1px;
    padding-bottom: math.div($height, $width) * 100%;
    float: left;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
